# Ignore the large video file
*.mp4

# Common ignores for Python projects (if applicable)
backend/uploads/
__pycache__/
*.py[cod]
*.log

# Ignore MacOS system files
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore environment files
.env
